<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    .chart-container {
      width: 100%;
    }
  </style>
</head>
<body style="background-color: rgb(56, 59, 59);">
  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">*insert company name here*</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Action</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="products.html">Product
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h6>product page will have four items called from a single product. There will be a default set, and that can be drop-down changed</h6>
  <br>
  <br>
  <br>
  <br>
  <br>  
  <br>
  <br>
  <br>

  <div class="container">
    <div class="row mb-3">
      <div class="col-md-9">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Distributions Weight</div>
          <div class="card-body">
            <div id="chart1" class="chart-container"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Statistics Weight</div>
          <div class="card-body">
            <p class="card-text">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Stats</th>
                    <th scope="col">Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <th scope="row">Light</th>
                    <td>Column content</td>
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Distributions Height</div>
          <div class="card-body">
            <div id="chart2" class="chart-container"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Statistics Height</div>
          <div class="card-body">
            <p class="card-text">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Stats</th>
                    <th scope="col">Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <th scope="row">Light</th>
                    <td>Column content</td>
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Plotly.js configuration for the graphs
    var trace1 = {
      x: ['Label 1', 'Label 2', 'Label 3', 'Label 4'],
      y: [10, 20, 30, 40],
      type: 'bar'
    };

    var data1 = [trace1];

    var layout1 = {
      title: '',
      xaxis: {
        title: 'Labels'
      },
      yaxis: {
        title: 'Values'
      }
    };

    Plotly.newPlot('chart1', data1, layout1, {responsive: true});

    var trace2 = {
      x: ['Label 1', 'Label 2', 'Label 3', 'Label 4'],
      y: [10, 20, 30, 40],
      type: 'scatter',
      mode: 'lines+markers'
    };

    var data2 = [trace2];

    var layout2 = {
      title: '',
      xaxis: {
        title: 'Labels'
      },
      yaxis: {
        title: 'Values'
      }
    };

    Plotly.newPlot('chart2', data2, layout2, {responsive: true});
  </script>
</body>
</html>
